<section id="todos">
  <header> 
    <h2>Editing "<%= @list[:name] %>"</h2> 
    <ul>
      <li>
        <form action="/lists/<%= params[:id] %>" method="post">
          <button type="Submit" class="delete">
        </form>
        <a class="delete" href="/lists/<%= params[:id] %>/delete">Delete List</a>
      </li>
    </ul>
  </header>
</section>


<form action="/lists/<%= params[:id] %>" method="post">
  <dl> 
    <dt> 
      <label for="list_name">Enter a new name for the list:</label>
    </dt>
    <dd>
      <input name="list_name" placeholder="List Name" type="text" value="<%= params[:list_name] || @list[:name] %>">
    </dd>
    <fieldset class="actions">
      <input type="submit" value="Update"> 
      <!--<a href="/lists">Cancel</a>-->
      <a href="/lists/<%= params[:id] %>">Cancel</a>
    </fieldset>
</form>
