<section id="todos" class="<%= list_class(list) %>">
  <header>
    <h2><%= list_name %></h2>
    <ul>
      <li>
        <form action="/lists/<%= list[:id] %>/complete_all" method="post">
          <button class="check" type="submit">Complete All</button>
        </form>
      </li>
      <li>
        <a class="edit" href="/lists/<%= list[:id]%>/edit">Edit List</a>
      </li>
    </ul>
  </header>

  <ul>
    <% sort_todos(todos) do |todo| %>
      <% if todo[:completed] %>
        <li class="complete">
      <% else %>
        <li>
      <% end %>
        <form action="/lists/<%= list_id %>/todo/<%= todo[:id] %>"
              method="post"
              class="check">
          <input type="hidden" name="completed" value="<%= todo[:completed] ?
                                                           'false' : 'true' %>">
          <button type="submit">Complete</button>
        </form>

        <h3><%= todo[:name] %></h3>
        <form action="/lists/<%= list_id %>/todo/<%= todo[:id] %>/delete"
              method="post"
              class="delete">
          <button type="submit" >Delete</button>
        </form>
      </li>
    <% end %>
  </ul>
</section>

<form action="/lists/<%= list_id %>/add_todo" method="post">
  <dl>
    <dt>
      <label>Enter a new todo item:</label>
    </dt>
    <dd>
      <input type="text" name="todo_name" placeholder="<%= todo_name ? todo_name : 'todo name'%>">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="add">
  </fieldset>
</form>


<% content_for :header_links do %>
  <a href="/lists" class="list">All Lists</a>
<% end %>

