<section id="todos">
  <header> 
    <h2><%= @list[:name] %></h2> 
    <ul>
      <li>
        <a class="edit" href="/lists/<%= @list_id %>/edit">Edit List</a>
      </li>
    </ul>
  </header>

  <ul> 
    <% @list[:todos].each_with_index do |todo, index| %>
<<<<<<< HEAD
      <% if todo[:completed] %>
        <li class="complete">
      <% else %>
        <li>
      <% end %>
        <form action="/lists/<%= @list_id %>/todos/<%= index %>" method="post" class="check">
          <input type="hidden" name="completed" value="<%= !todo[:completed] %>" />
          <button type="submit">Complete</button>
        </form>

=======
      <li>
        <form action="/lists/<%= @list_id %>/todos/<%= index %>/" method="post" class="check">
          <input type="hidden" name="completed" value="<%= !todo[:completed] %>" />
          <button type="submit">Complete</button>
        </form>
>>>>>>> eb3093162760bc939a061bef54e84a5a40a64ac0
        <h3><%= todo[:name] %></h3>

        <form action="/lists/<%= @list_id %>/todos/<%= index %>/delete" method="post" class="delete">
          <button type="submit">Delete</button>
        </form>

      </li>
    <% end %>
  </ul>

</section>

<form action="/lists/<%= @list_id %>/todos" method="post">
  <dl> 
    <dt>
      <label for="todo">Enter a new todo item:</label>
    </dt>
    <dd>
      <input name="todo" id="todo" placeholder="Something to do" type="text" value="">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Add">
  </fieldset>
</form>

<% content_for :header_links do %> 
  <a class="list" href="/lists">All Lists</a>
<% end %> 
